<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Content"},"className":"cu-main","style":{"spacing":{"margin":{"bottom":"0"}}},"layout":{"type":"default"},"anchor":"main"} -->
<main id="main" class="wp-block-group cu-main" style="margin-bottom: 0">
	<!-- wp:post-content {"align":"full","className":"cu-content","style":{"elements":{"link":{":hover":{"color":{"text":"#d90000"}}}},"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"},"anchor":"page-content"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->
