<!-- wp:template-part {"slug":"header","area":"header"} /-->

<!-- wp:group {"tagName":"header","metadata":{"name":"Page Hero"},"className":"cu-hero","layout":{"type":"constrained"},"anchor":"page-hero"} -->
<header id="page-hero" class="wp-block-group cu-hero"><!-- wp:group {"metadata":{"name":"Grey Container"},"align":"full","style":{"spacing":{"padding":{"top":"var:preset|spacing|70","bottom":"var:preset|spacing|70","left":"var:preset|spacing|50","right":"var:preset|spacing|50"},"margin":{"top":"0","bottom":"var:preset|spacing|60"}}},"backgroundColor":"grey-faint","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignfull has-grey-faint-background-color has-background" style="margin-top:0;margin-bottom:var(--wp--preset--spacing--60);padding-top:var(--wp--preset--spacing--70);padding-right:var(--wp--preset--spacing--50);padding-bottom:var(--wp--preset--spacing--70);padding-left:var(--wp--preset--spacing--50)"><!-- wp:post-title {"textAlign":"left","level":1,"style":{"spacing":{"margin":{"bottom":"0"}}}} /-->

<!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"},"elements":{"link":{"color":{"text":"var:preset|color|grey-dark"},":hover":{"color":{"text":"var:preset|color|primary"}}}}},"textColor":"grey-dark","fontSize":"medium","layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group has-grey-dark-color has-text-color has-link-color has-medium-font-size"><!-- wp:group {"style":{"spacing":{"blockGap":"0.35rem"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group"><!-- wp:paragraph -->
<p>Posted on</p>
<!-- /wp:paragraph -->

<!-- wp:post-date {"metadata":{"bindings":{"datetime":{"source":"core/post-data","args":{"field":"date"}}}}} /--></div>
<!-- /wp:group -->

<!-- wp:paragraph {"style":{"elements":{"link":{"color":{"text":"var:preset|color|grey-light"}}}},"textColor":"grey-light"} -->
<p class="has-grey-light-color has-text-color has-link-color">|</p>
<!-- /wp:paragraph -->

<!-- wp:post-time-to-read /--></div>
<!-- /wp:group --></div>
<!-- /wp:group --></header>
<!-- /wp:group -->

<!-- wp:group {"tagName":"main","metadata":{"name":"Main Content"},"className":"cu-main","style":{"spacing":{"margin":{"bottom":"var:preset|spacing|60"}}},"layout":{"type":"default"},"anchor":"main"} -->
<main id="main" class="wp-block-group cu-main" style="margin-bottom:var(--wp--preset--spacing--60)"><!-- wp:post-content {"align":"full","className":"cu-content","style":{"elements":{"link":{":hover":{"color":{"text":"#d90000"}}}},"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"type":"constrained"}} /--></main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","area":"footer"} /-->